*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations


# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/BuildingsPy.log
/openmdao_log.txt
/package.order
/plot.pdf
/plot.png
/roomTemperatures.png
/run_simulate.mos
/run_translate.mos
/simulator.log
/translator.log
