group: deprecated-2017Q2

dist: trusty

language: python

python:
  - "2.7"
#fixme  - "3.5"

cache: pip

env:
  - MPLBACKEND=agg

notifications:
  email: false

git:
  depth: 3

services:
  - docker

addons:
  apt:
#    sources:
#    - sourceline: "deb http://build.openmodelica.org/apt `lsb_release -cs` stable"
#      key_url: "http://build.openmodelica.org/apt/openmodelica.asc"
#    packages:
#    - omc
#    - omlib-modelica-3.2.?
    - tidy

before_install:
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh /usr/local/bin/
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
#  - docker pull "$DOCKER_USERNAME"/travis_ubuntu-1804_dymola-2019fd01-x86_64
  - docker pull "$DOCKER_USERNAME"/ubuntu-1604_jmodelica_trunk

install:
  - pip install --upgrade pip setuptools wheel
  - pip install --only-binary=numpy,scipy,matplotlib numpy==1.13.3 scipy==0.19.1 matplotlib==2.1.0
  - pip install autopep8==1.4.3
  - pip install .

# Execute tests
script:
#fixme  - omc --version
#fixme  - make pep8 PEP8_CORRECT_CODE=true
#fixme  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then make doctest; fi
  - python buildingspy/tests/test_development_regressiontest_jmodelica.py
  - make unittest
