dist: bionic

language: python

python:
  - "3.6"

cache: pip

env:
  global:
    - MPLBACKEND=agg
    - MODELICAPATH=${TRAVIS_BUILD_DIR}/buildingspy/tests # Needed to load Modelica models for CI testing
    - PYTHONPATH=${TRAVIS_BUILD_DIR}  # Points to /home/travis/build/lbl-srg/BuildingsPy. Needed for import buildingspy.simulate.OutputGrabber as og

notifications:
  email: false

git:
  depth: 3

services:
  - docker

addons:
  apt:
    sources:
    - sourceline: "deb http://build.openmodelica.org/apt `lsb_release -cs` stable"
      key_url: "http://build.openmodelica.org/apt/openmodelica.asc"
    packages:
    - omc
    - omlib-modelica-3.2.?
    - tidy

before_install:
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh /usr/local/bin/
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull "$DOCKER_USERNAME"/travis_ubuntu-1804_dymola-2020x-x86_64
  - docker pull "$DOCKER_USERNAME"/ubuntu-1804_jmodelica_trunk
  - python -m pip install --upgrade pip

install:
  - pip install -r requirements.txt
  - pip install .
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then
      pip install sphinx==2.1.2 \
        sphinx-bootstrap-theme==0.7.1 \
        sphinxcontrib-bibtex==0.4.2 \
        sphinxcontrib-plantuml==0.17 \
        alabaster==0.7.12 \
        MarkupSafe==1.1.1 \
        Pygments==2.4.2 \
        snowballstemmer==1.9.0 \
        docutils==0.15.2 \
        Babel==2.7.0 \
        requests==2.22.0 \
        Jinja2==2.10.1 \
        latexcodec==1.0.7 \
        pybtex==0.22.2
        pybtex-docutils==0.2.1 \
        oset==0.1.3 \
        PyYAML==5.1.2;
    fi;


# Execute tests
script:
##  - python buildingspy/tests/test_development_regressiontest_optimica.py Test_regressiontest_optimica_Tester.test_regressiontest_diagnostics
##  - python buildingspy/tests/test_development_regressiontest_jmodelica.py Test_regressiontest_jmodelica_Tester.test_regressiontest_diagnostics
## - python buildingspy/tests/test_simulate_Optimica.py Test_simulate_Simulator.test_addMethods
- omc --version
- make pep8 PEP8_CORRECT_CODE=true
- make doctest
- make unittest
- make doc
