group: deprecated-2017Q2

dist: trusty

language: python

python:
  - "3.6"

cache: pip

env:
  - MPLBACKEND=agg
  - PYTHONPATH=${TRAVIS_BUILD_DIR}  # Points to /home/travis/build/lbl-srg/BuildingsPy. Needed for import buildingspy.simulate.OutputGrabber as og

notifications:
  email: false

git:
  depth: 3

services:
  - docker

addons:
  apt:
    sources:
    - sourceline: "deb http://build.openmodelica.org/apt `lsb_release -cs` stable"
      key_url: "http://build.openmodelica.org/apt/openmodelica.asc"
    packages:
    - omc
    - omlib-modelica-3.2.?
    - tidy

before_install:
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh /usr/local/bin/
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull "$DOCKER_USERNAME"/travis_ubuntu-1804_dymola-2020x-x86_64
  - docker pull "$DOCKER_USERNAME"/ubuntu-1804_jmodelica_trunk

install:
  - pip install --upgrade pip setuptools wheel
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then pip install --only-binary=numpy,scipy,matplotlib numpy==1.17.4 scipy==1.2.0 matplotlib==3.0.2; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install --only-binary=numpy,scipy,matplotlib numpy==1.13.3 scipy==0.19.1 matplotlib==2.1.0; fi
  - pip install autopep8==1.4.4
  - pip install .

# Execute tests
script:
  - omc --version
  - make pep8 PEP8_CORRECT_CODE=true
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then make doctest; fi
  - make unittest
