os: Linux
dist: focal

language: python

python:
  - "3.8"

cache: pip

env:
  global:
    - OMC_VERSION=ubuntu-2004-omc:1.19.0_dev-539-gb76366f-1
    - OPTIMICA_VERSION=travis-ubuntu-1804-optimica:2022-05-09-master-4b0cd2bf71
    - DYMOLA_VERSION=travis_ubuntu-2004_dymola:2022x-x86_64
    - MPLBACKEND=agg

notifications:
  email: false

git:
  depth: 3

services:
  - docker
  - xvfb

addons:
  apt:
    packages:
    - tidy

before_install:
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/omc
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/omc /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh /usr/local/bin/
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull "$DOCKER_USERNAME"/${OMC_VERSION}
  - docker pull "$DOCKER_USERNAME"/${DYMOLA_VERSION}
  - docker pull "$DOCKER_USERNAME"/${OPTIMICA_VERSION}
  - python -m pip install --upgrade pip

install:
  - pip install -r requirements.txt
  - pip install .
  - pip3 install sphinx==4.3.2 \
      sphinx-bootstrap-theme==0.8.0 \
      sphinxcontrib-bibtex==2.4.1 \
      sphinxcontrib-plantuml==0.22 \
      alabaster==0.7.12 \
      MarkupSafe==1.1.1 \
      Pygments==2.4.2 \
      snowballstemmer==1.9.0 \
      docutils==0.17.1 \
      Babel==2.7.0 \
      requests==2.27.0 \
      Jinja2==2.11.3 \
      latexcodec==1.0.7 \
      pybtex==0.24.0
      pybtex-docutils==1.0.1 \
      oset==0.1.3 \
      PyYAML==5.4


# Execute tests
script:
 - omc --version
 - make pep8 PEP8_CORRECT_CODE=true
 - make doctest
 - make unittest_development_error_dictionary
 - make unittest_development_merger
 - make unittest_development_refactor
 - make unittest_development_regressiontest_openmodelica
 - make unittest_development_regressiontest_optimica
 - make unittest_development_regressiontest
 - make unittest_development_Validator
 - make unittest_examples_dymola
 - make unittest_io_outputfile
 - make unittest_io_postprocess
 - make unittest_simulate_Dymola
 - make unittest_simulate_Optimica
 - make unittest_simulate_Simulator
 - make doc

after_failure:
  - |
    for ff in `find . -name '*.log'`; do
      echo "*** Content of $ff"
      cat $ff
      echo "*** End of $ff"
    done
