os: Linux
dist: focal

language: python

python:
  - "3.12"

cache: pip

env:
  global:
    - DOCKER_REPONAME=lbnlblum
    - OMC_VERSION=ubuntu-2204-omc:1.24.0-1
    - OPTIMICA_VERSION=travis-ubuntu-2204-optimica:1.55.11_rev-1
    - DYMOLA_VERSION=travis_ubuntu-2404_dymola:2026x-x86_64
    - MPLBACKEND=agg

notifications:
  email: false

services:
  - docker
  - xvfb

addons:
  apt:
    packages:
    - tidy

before_install:
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/omc
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/omc /usr/local/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola
  - cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/dymola $HOME/bin/
  - chmod +x buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh
  - sudo cp buildingspy/tests/MyModelicaLibrary/Resources/Scripts/travis/bin/jm_ipython.sh /usr/local/bin/
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull "$DOCKER_REPONAME"/${OMC_VERSION}
  - docker pull "$DOCKER_REPONAME"/${DYMOLA_VERSION}
  - docker pull "$DOCKER_REPONAME"/${OPTIMICA_VERSION}
  - python -m pip install --upgrade pip

install:
  - pip install -r requirements.txt
  - pip install .

# Execute tests
script:
 - omc --version
 - make pep8 PEP8_CORRECT_CODE=true
 - make doctest
 - make unittest_development_error_dictionary
 - make unittest_development_merger
 - make unittest_development_refactor
 - make unittest_development_regressiontest_openmodelica
 - make unittest_development_regressiontest_optimica
 - make unittest_development_regressiontest
 - make unittest_development_Validator
 - make unittest_examples_dymola
 - make unittest_io_outputfile
 - make unittest_io_postprocess
 - make unittest_simulate_Dymola
 - make unittest_simulate_Optimica
 - make unittest_simulate_Simulator
 - |
   pip install -r doc/requirements.txt && \
   make doc;

after_failure:
  - |
    for ff in `find . -name '*.log'`; do
      echo "*** Content of $ff"
      cat $ff
      echo "*** End of $ff"
    done
