include buildingspy/VERSION
include buildingspy/license.txt
recursive-include buildingspy/thirdParty *
recursive-include buildingspy *.txt *.rst *.mo *.template
recursive-include buildingspy/templates *
recursive-include doc *
recursive-include buildingspy/examples *.mat *.png *.pdf *.py
