include buildingspy/license.txt
recursive-include buildingspy/thirdParty *
recursive-include buildingspy *.txt *.rst *.mo
recursive-include doc *
recursive-include buildingspy/examples *.mat *.png *.pdf *.py



