# Core.
jinja2==2.11.1
gitpython==3.1.0; python_version>='3.6'
--only-binary matplotlib==3.2.0; python_version>='3.6'
--only-binary numpy==1.18.1; python_version>='3.6'
--only-binary scipy==1.4.1; python_version>='3.6'
pytidylib==0.3.2
simplejson==3.17.0
six==1.14.0
git+ssh://git@github.com:lbl-srg/funnel.git@issue49_localTolerance#egg=pyfunnel'

# For documentation and testing.
setuptools==46.0.0; python_version>='3.6'
wheel==0.34.2
autopep8==1.5
