<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
</head>
<body>
  <div id="myDiv" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>
</body>
<script>
    function make_plot() {
        var srv_url = 'http://localhost:$SERVER_PORT';
        var dict_var_dir = $DICT_VAR_DIR;
        var dict_data = {};
        var queue = d3.queue();
        Object.keys(dict_var_dir).forEach(function(v) {
            ['reference.csv', 'test.csv', 'errors.csv'].forEach(function(f) {
                var file = [srv_url, dict_var_dir[v], f].join('/');
                queue.defer(Plotly.d3.csv, file);
            });
        });
        queue.awaitAll(function(error, csvDataSets) {
            if (error) throw error;
            // csvDataSets is an array of CSV data
            Object.keys(dict_var_dir).forEach(function(v, idx) {
                // Process the CSV data
                dict_data[v] = {
                    ref: processData(csvDataSets[idx * 3]),
                    test: processData(csvDataSets[idx * 3 + 1]),
                    err: processData(csvDataSets[idx * 3 + 2]),
                };
            });
            console.log('GET ALL DATA COMPLETED');
            plot(dict_data);
        });
    }
    function processData(allRows) {
        var x = [], y = [];
        for (var i=0; i<allRows.length; i++) {
            row = allRows[i];
            x.push(row['x']);
            y.push(row['y']);
        }
        return {x: x, y:y};
    }
    function plot(dict_data){
        var plotDiv = document.getElementById("plot");
        var d3colors = Plotly.d3.scale.category10();
        var traces = [];
        i = -1;
        for (var v in dict_data) {
            i++;
            var data = dict_data[v];
            traces.push(
                {
                    x: data['ref'].x,
                    y: data['ref'].y,
                    legendgroup: v,
                    showlegend: false,
                    name: [v, 'ref'].join('_'),
                    line: {
                        dash: 'dot',
                        color: d3colors(i),
                    },
                }
            );
            traces.push(
                {
                    x: data['test'].x,
                    y: data['test'].y,
                    legendgroup: v,
                    name: [v, 'test'].join('_'),
                    line: {
                        color: d3colors(i),
                    },
                }
            );
            traces.push(
                {
                    x: data['err'].x,
                    y: data['err'].y,
                    legendgroup: v,
                    showlegend: false,
                    name: [v, 'error'].join('_'),
                    line: {
                        color: d3colors(i),
                    },
                    xaxis: 'x',
                    yaxis: 'y2',
                }
            );
        };
        var layout = {
            title: {text: '$TITLE'},
            grid: {rows: 2, columns: 1, subplots: [['xy1'], ['xy2']]},
            xaxis1: {
                ticks: 'outside',
                showline: true,
                zeroline: false,
                title: 'x',
                anchor: 'y1',
            },
            yaxis1: {
                domain: [0.3, 1],
                ticks: 'outside',
                showline: true,
                zeroline: false,
                title: 'y',
            },
            yaxis2: {
                domain: [0, 0.18],
                ticks: 'outside',
                showline: true,
                zeroline: false,
                title: 'error [y]',
            },
        };
        Plotly.newPlot('myDiv', traces, layout);
    }
    make_plot();
</script>
</html>
/html>
