<html>
<head>
  <meta charset="utf-8"/>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
</head>
<body>
    <div id="myDiv" style="height: $HEIGHT; width: 100%;" class="plotly-graph-div"></div>
    <script>
        function make_plot() {
            var srv_url = 'http://localhost:$SERVER_PORT';
            var dict_var_dir = $DICT_VAR_DIR;
            var var_groups = $VAR_GROUPS;
            var dict_data = {};
            var queue = d3.queue();
            Object.keys(dict_var_dir).forEach(function(v) {
                ['reference.csv', 'test.csv', 'errors.csv'].forEach(function(f) {
                    var file = [srv_url, dict_var_dir[v], f].join('/');
                    queue.defer(Plotly.d3.csv, file);
                });
            });
            queue.awaitAll(function(error, csvDataSets) {
                if (error) throw error;
                // csvDataSets is an array of CSV data
                Object.keys(dict_var_dir).forEach(function(v, idx) {
                    // Process the CSV data
                    dict_data[v] = {
                        ref: processData(csvDataSets[idx * 3]),
                        test: processData(csvDataSets[idx * 3 + 1]),
                        err: processData(csvDataSets[idx * 3 + 2]),
                    };
                });
                console.log('GET ALL DATA COMPLETED');
                plot(dict_data, var_groups);
            });
        }
        function processData(allRows) {
            var x = [], y = [];
            for (var i=0; i<allRows.length; i++) {
                row = allRows[i];
                x.push(row['x']);
                y.push(row['y']);
            }
            return {x: x, y:y};
        }
        function plot(dict_data, var_groups){
            var plotDiv = document.getElementById("plot");
            var d3colors = Plotly.d3.scale.category10();
            var traces = [];
            var max_var_groups = Math.max(...var_groups);
            var axis_error_idx = 1;  // max_var_groups + 2;
            // Dummy traces for legend only.
            traces.push(
                {
                    x: [null],
                    y: [null],
                    legendgroup: 99,
                    showlegend: true,
                    name: 'Errors (in upper plot)',
                    mode: 'lines',
                    line: {
                        color: 'rgb(211,211,211)',
                    },
                    xaxis: 'x' + axis_error_idx,
                    yaxis: 'y' + axis_error_idx,
                },
                {
                    x: [null],
                    y: [null],
                    legendgroup: 99,
                    showlegend: true,
                    name: 'Reference data',
                    mode: 'lines',
                    line: {
                        dash: 'dot',
                        color: 'rgb(211,211,211)',
                    },
                    xaxis: 'x' + axis_error_idx,
                    yaxis: 'y' + axis_error_idx,
                },
                {
                    x: [null],
                    y: [null],
                    legendgroup: 99,
                    showlegend: true,
                    name: 'Test data',
                    mode: 'lines',
                    line: {
                        color: 'rgb(211,211,211)',
                    },
                    xaxis: 'x' + axis_error_idx,
                    yaxis: 'y' + axis_error_idx,
                },
            );
            // Data traces.
            i = -1;
            for (var v in dict_data) {
                i++;
                var data = dict_data[v];
                var axis_data_idx = var_groups[i] + 2;  // 1 is for error
                traces.push(
                    {
                        x: data['ref'].x,
                        y: data['ref'].y,
                        legendgroup: v,
                        showlegend: false,
                        hoverlabel: {namelength :-1},
                        name: [v, 'ref'].join('_'),
                        line: {
                            dash: 'dot',
                            color: d3colors(i),
                        },
                        xaxis: 'x' + axis_data_idx,
                        yaxis: 'y' + axis_data_idx,
                    }
                );
                traces.push(
                    {
                        x: data['test'].x,
                        y: data['test'].y,
                        legendgroup: v,
                        name: v,
                        hoverlabel: {namelength :-1},
                        line: {
                            color: d3colors(i),
                        },
                        xaxis: 'x' + axis_data_idx,
                        yaxis: 'y' + axis_data_idx,
                    }
                );
                traces.push(
                    {
                        x: data['err'].x,
                        y: data['err'].y,
                        legendgroup: v,
                        showlegend: false,
                        hoverlabel: {namelength :-1},
                        name: [v, 'error'].join('_'),
                        line: {
                            color: d3colors(i),
                        },
                        xaxis: 'x' + axis_error_idx,
                        yaxis: 'y' + axis_error_idx,
                    }
                );
            };
            // Layout.
            var layout = {
                title: {text: '$TITLE'},
                grid: {rows: max_var_groups + 2, columns: 1},
                margin: {b: 40}
            }
            // error domain
            layout['yaxis' + axis_error_idx] = {
                    domain: [1 - 1 / (max_var_groups + 2), 1],
                    ticks: 'inside',
                    showline: true,
                    zeroline: true,
                    title: 'error [y]',
            };
            layout['xaxis' + axis_error_idx] = {
                    showline: false,
                    zeroline: false,
                    showticklabels: false,
                    anchor: 'y' + axis_error_idx,
                    // scaleanchor: 'x' + (max_var_groups + 2),
                    matches: 'x' + (max_var_groups + 2)
            };
            // ref & test domain
            var divHeight = parseFloat(document.getElementById('myDiv').style.height).toFixed(2);
            var spacing = 0.02 * 100 / divHeight;
            var t_offset = 1 / (max_var_groups + 2) + 2 * spacing;
            var_groups.forEach(function(el) {
                layout['yaxis' + (el + 2)] = {
                    domain: getDomain(el, max_var_groups+1, t_offset, 0.0, spacing),
                    ticks: 'inside',
                    mirror: 'ticks',
                    showline: true,
                    zeroline: false,
                    title: 'y',
                };
                layout['xaxis' + (el + 2)] = {
                    ticks: 'inside',
                    showline: true,
                    showticklabels: false,
                    mirror: 'ticks',
                    zeroline: false,
                    anchor: 'y' + (el + 2),
                    // scaleanchor: 'x' + (el + 1),
                    matches: 'x' + (el + 1)
                };
            });
            layout['xaxis2']['showticklabels'] = true;
            layout['xaxis2']['side'] = 'top';
            layout['xaxis' + (max_var_groups + 2)]['showticklabels'] = true;
            layout['xaxis' + (max_var_groups + 2)]['title'] = 'x';
            Plotly.newPlot('myDiv', traces, layout, {responsive: true});
        }
        function getDomain(i, n_domain, t_offset=0.0, b_offset=0.0, spacing=0.02) {
            // from top (i = 0) to bottom (i = n_domain-1)
            i = n_domain - i - 1;
            return [
                b_offset + (1 - b_offset - t_offset) / n_domain * i + (i === 0 ? 0 : spacing / 2),
                b_offset + (1 - b_offset - t_offset) / n_domain * (i + 1) - (i === (n_domain - 1) ? 0 : spacing / 2)
            ];
        }
        make_plot();
    </script>
</body>
</html>
